body {
    background-image: radial-gradient(circle, rgb(47, 47, 52), rgb(16, 16, 19));
    background-position: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
    text-align: center;
}

#scoreContainer {
    font-size: 20vmin;
    opacity: 20%;
}

#choiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

 #choiceContainer > i {
    color: white;
    font-size: 10vmin;
    width: 10vmin;
    height: 10vmin;
    text-align: center;
    padding: 1vmin;
    border: white 1px solid;
    border-radius: 10%;
    transition: background-color 500ms;
}

#choiceContainer > i:hover {
    background-color:grey;
}

.animation {
    background-color: rgba(250, 12, 12, 0.453);
}

@keyframes opacityDrop {
    from {background-color: rgba(255, 255, 255, 0.8)}
    to {background-color: transparent;}
};
